<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Patient Details :</h4>
  </div>

  <div class="panel panel-body">

    <form #userForm="ngForm">
      <div class="row">

        <div class="col-md-2">
          <input type="text" class="form-control" #patientName="ngModel" minlength="4" maxlength="10" required [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
            placeholder="Name">
          <div *ngIf="patientName.errors && (patientName.dirty || patientName.touched)" class="alert alert-danger">
            <div [hidden]="!patientName.errors.required">
              Please enter valid patient name...
            </div>
            <div [hidden]="!patientName.errors.minlength">
              Please enter at least 10 characters...
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <select class="form-control" [(ngModel)]="day" name="day">
            <option value="">Day</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>

        <div class="col-md-2">
          <select class="form-control" name="month" [(ngModel)]="month">
            <option value="">Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>

        <div class="col-md-2">
          <input type="text" #pyear="ngModel" minlength="4" maxlength="4" required class="form-control" name="pyear" [(ngModel)]="year"
            ngModel>
        </div>

        <div class="col-md-2">
          <select class="form-control" [(ngModel)]="gender" name="gender">
            <option value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>


        <div class="col-md-2">
          <input type="text" #refZip="ngModel" pattern="^[1-9][0-9]{4}$" required class="form-control" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}"
            placeholder="Enter Zip Code">
          <div *ngIf="refZip.errors && (refZip.dirty || refZip.touched)" class="alert alert-danger">
            <div [hidden]="!refZip.errors.pattern">
              Please a five digit number...
            </div>
          </div>
        </div>

        <br>
        <br>
        <br>
        <div class="pull-right">
          <button type="reset" class="btn btn-info" (click)="reset()">Reset</button>
          <button class="btn btn-primary" (click)="getPatients()">Search</button>
        </div>

      </div>
    </form>
  </div>

  <!-- *ngIf="!addPatientButton && searchButtonClicked" -->
  <div class="table-responsive" *ngIf="showTable">
    <table class="table table-hover">

      <tr *ngIf="patients && patients.length" >
        <th>
          <a style="cursor:pointer">Name</a>
        </th>
        <th>
          <a style="cursor:pointer">Gender</a>
        </th>
        <th>
          <a style="cursor:pointer">DOB</a>
        </th>
        <th>
          <a style="cursor:pointer">Address</a>
        </th>
        <th>
          <a style="cursor:pointer">Contact Info</a>
        </th>
        <th>
          <a style="cursor:pointer">Patient Code</a>
        </th>
        <th>
          <a style="cursor:pointer">SSN</a>
        </th>
      </tr>

      <tr *ngFor="let patient of patients" class="clickable" [routerLink]="[patient.id]">
        <td>{{patient.firstName + " " + patient.lastName}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.addressVO.street + " " + patient.addressVO.city + " " + patient.addressVO.state + " " + patient.addressVO.zip}}</td>
        <td>{{"Email: " + patient.contactInfoVO.email + " " + "Phone Number: " + patient.contactInfoVO.homePhone + "/"+ patient.contactInfoVO.cellPhone}}</td>
        <td>{{patient.patientCode}}</td>
        <td>{{patient.ssn}}</td>
      </tr>

    </table>
  </div>

  <div class="panel panel-footer" *ngIf="addPatientButton">
    <div class="row">
      <a [routerLink]="['/addpatientdescription']">
        <button class="btn btn-primary">Add Patient</button>
      </a>
    </div>
  </div>

</div>