<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
  </div>
  <div class="panel-body">
      <img src="assets/images/ehrhome.jpg" alt="hospital-image" align="center" />
  </div>
  <div class="panel-footer">
      <div class="row">
          <div class="text-center">Developed by:</div>
          <h3 class="text-center">Mahesh Luitel</h3>
          <div class="text-center">@MaheshLuitel</div>
          <div class="text-center">
              <a href="#" MaheshLuitel></a>
          </div>
      </div>
  </div>
</div>